<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cuesz">

<listeners>
    <listener class-name="cuesz.com.testcomponents.Listeners"/>
</listeners>

<test name="Schdule Event">
    <classes>
    	 <class name="cuesz.schduletest.advocate.Case01_createventtest"/>  
		 <class name="cuesz.schduletest.advocate.Case02_vieweventtest"/>
		
      
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
